body{
    background-color: black;
    color: white;
    font-family: 'Limelight', cursive;
}

.container {
    display: flex;
    align-items: center;
}

h1{
    text-shadow: 0px 0px 10px blueviolet;
}

h2{
    color: rgb(109, 255, 253);
    text-align: center;
    display: block;
    padding-bottom: 10px;
    font-size: medium;
    text-shadow: 0px 0px 15px blue;
}

.Tit{
    transform:translateY(-150px);
    color: rgb(255, 255, 255);
    text-align: center;
    display: block;
    text-shadow: 0px 0px 15px blue;
}


.Tit1{
    transform:translateY(-150px);
    color: rgb(255, 255, 255);
    text-align: center;
    display: block;
    text-shadow: 0px 0px 15px blue;
}

input{
    font-family: 'Limelight', cursive;
    text-shadow: 0px 0px 15px blue;
    width: 20vh; height: 4vh;
    margin: 2vh;
    border-radius: 50px;
    border-style: solid;
    border-color: blue;
    transition: all 0.1s ease-out;
}

.caja-nueva input:focus {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(255, 0, 238, 0.7);
    transition: transform 0.2s, box-shadow 0.2s;
    border-color: blue;
}


button{
    font-family: 'Limelight', cursive;
    text-shadow: 0px 0px 15px blue;
    width: 10vh; height: 4vh;
    margin: 2vh;
    border-radius: 50px;
    border-style: solid;
    border-color: blue;
    transition: all 0.1s ease-out;
}

button:hover{
    transform: scale(1.2);
}


.caja-borradora{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5vh;
    background: linear-gradient(to bottom, blueviolet, #ff8000);
    width: 40vh;
    height: 20vh;
    border-radius: 3vh;
    border-style: solid;
    border-color: rgb(204, 204, 4);
    box-shadow: 0px 0px 10px yellow;
    transition: all 0.1s ease-out;
}

.caja-borradora:hover{
    transform: scale(1.2);
}



.C1{
    position: relative;
    top: -160px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5vh;
    background: linear-gradient(to bottom, blueviolet, #ff8000);
    width: 40vh;
    height: 180vh;
    border-radius: 3vh;
    border-style: solid;
    border-color: rgb(204, 204, 4);
    box-shadow: 0px 0px 10px yellow;
    transition: all 0.1s ease-out;
}

.C1:hover{
    transform: scale(1.1)
}



.F1{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh;
    margin-left: 70px;
    background: linear-gradient(to bottom, yellow, red);
    width: 20vh;
    height: 20vh;
    border-radius: 3vh;
    border-style: solid;
    border-color: rgb(204, 204, 4);
    box-shadow: 0px 0px 10px yellow;
    transition: all 0.2s ease-out;
}

.F1:hover{
    transform: scale(1.5)
}

.caja-nueva {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 120vh;
    height: 50vh;
    background: linear-gradient(to bottom, rgb(255, 0, 136), rgb(166, 0, 255));
    position: absolute;
    border-radius: 3vh;
    border-style: solid;
    border-color: rgb(204, 204, 4);
    box-shadow: 0px 0px 10px yellow;
    transition: all 0.2s ease-out;
}

.caja-nueva:hover{
    transform: scale(1.1)
}


.quadrat{
    display: block;
    margin: 3vh;
    background: linear-gradient(to bottom, rgb(51, 0, 255), rgb(0, 232, 112));
    width: 9vh;
    height: 9vh;
    border-style: solid;
    border-color: rgb(225, 0, 255);
    box-shadow: 0px 0px 10px rgb(255, 0, 157);
    transition: all 0.2s ease-out;
}


.F2{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh;
    margin-left: 70px;
    background: linear-gradient(to bottom, yellow, red);
    width: 20vh;
    height: 20vh;
    border-radius: 3vh;
    border-style: solid;
    border-color: rgb(204, 204, 4);
    box-shadow: 0px 0px 10px yellow;
    transition: all 0.2s ease-out;
}


.F2:hover:hover{
    transform: scale(1.5)
}

.triangle {
    clip-path: polygon(50% 0, 0% 100%, 100% 100%);
    transform: scale(1.3);
    box-shadow: 0px 0px 10px rgb(255, 0, 157);
    transition: all 0.2s ease-out;
}






.F3{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh;
    margin-left: 70px;
    background: linear-gradient(to bottom, yellow, red);
    width: 20vh;
    height: 20vh;
    border-radius: 3vh;
    border-style: solid;
    border-color: rgb(204, 204, 4);
    box-shadow: 0px 0px 10px yellow;
    transition: all 0.2s ease-out;
}

.F3:hover{
    transform: scale(1.5)
}

.cercle{
    display: block;
    margin: 3vh;
    background: linear-gradient(to bottom, rgb(51, 0, 255), rgb(0, 232, 112));
    width: 9vh;
    height: 9vh;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(225, 0, 255);
    box-shadow: 0px 0px 10px rgb(255, 0, 157);
    transition: all 0.2s ease-out;
}




.F4{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh;
    margin-left: 70px;
    background: linear-gradient(to bottom, yellow, red);
    width: 20vh;
    height: 20vh;
    border-radius: 3vh;
    border-style: solid;
    border-color: rgb(204, 204, 4);
    box-shadow: 0px 0px 10px yellow;
    transition: all 0.2s ease-out;
}

.F4:hover{
    transform: scale(1.5)
}

.rombe{
    -webkit-transform: rotate(45deg) skew(15deg, 15deg);
    -moz-transform: rotate(45deg) skew(15deg, 15deg);
    -ms-transform: rotate(45deg) skew(15deg, 15deg);
    -o-transform: rotate(45deg) skew(15deg, 15deg);
    transform: rotate(45deg) skew(15deg, 15deg);
    display: block;
    margin: 3vh;
    background: linear-gradient(135deg, rgb(51, 0, 255), rgb(0, 232, 112));
    width: 9vh;
    height: 9vh;
    border-style: solid;
    border-color: rgb(225, 0, 255);
    box-shadow: 0px 0px 10px rgb(255, 0, 157);
    transition: all 0.2s ease-out;
}

 

.F5{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh;
    margin-left: 70px;
    background: linear-gradient(to bottom, yellow, red);
    width: 20vh;
    height: 20vh;
    border-radius: 3vh;
    border-style: solid;
    border-color: rgb(204, 204, 4);
    box-shadow: 0px 0px 10px yellow;
    transition: all 0.2s ease-out;
}

.F5:hover{
    transform: scale(1.5)
}


.trapeci{
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}